.filtres {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  .inputs-container{
    display: flex;
    gap: 4rem;
    margin-top: 1.5rem;
    align-items: flex-start;  
      .container_ingredients,
      .container_appareils,
      .container_ustensils {
        position: relative;
        width: 180px;
        background-color: white;
        border-radius: 5px;

        /* HEADER */
        .title-img_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 1rem;
          padding-right: 1rem;
          cursor: pointer;

          .filtre-title {
            font-size: .9rem;
          }

          img {
            width: 12px;
            transition: transform .3s ease;
          }
        }

        /* CONTENU */
        .filtre-content {
          position: absolute; // superposition
          top: 100%; // juste en dessous du header
          left: 0;
          width: 100%; // même largeur que le container
          z-index: 10; // au-dessus du reste
          display: none;
          padding: 0;
          height: auto; // permet d'ajuster la taille selon le contenu
          background-color: white;
          border-radius: 0px 0px 5px 5px;
          box-shadow: 0 4px 6px rgba(0,0,0,0.1);
          .filtres_input {
            width: 100%;
            padding: .6rem 3.5rem .6rem .6rem;
            border-radius: 4px;
            border: 1px solid #c6c6c6;
            font-size: .85rem;
            outline: none;
          }

          /* icônes dans l’input */
          .filtres-img-ing,
          .filtres-img-app,
          .filtres-img-ust {
            position: absolute;
            top: 22px;
            width: 14px;
            cursor: pointer;
          }

          /* loupe */
          img[src*="search"] {
            right: 17px;
          }

          /* croix */
          img[src*="delete-input"] {
            display: none;
            right: 35px;
            opacity: 0;
            pointer-events: none;
            transition: opacity .2s;
          }

          /* croix visible quand input rempli */
          &.has-value {
            img[src*="delete-input"] {
              display: inline-block;
              opacity: 1;
              pointer-events: auto;
            }
          }
          
          /* LISTES */
          .selection_ingredients,
          .selection_appareils,
          .selection_ustensils {
            margin-top: .8rem;

            .datalist_filtres {
              display: flex;
              flex-direction: column; // vertical
              gap: .4rem;
              list-style: none;
              padding: 0;
              margin: 0;
              max-height: 220px;
              overflow-y: auto;

              li {
                font-size: .8rem;
                cursor: pointer;

                &:hover {
                  font-weight: bold;
                }
              }
            }
          }
        }

        /* ÉTAT ACTIF */
        &.active {
          .filtre-content {
            display: block;
            height: auto;
            padding: .8rem;
          }
        }
      }
  }
  .reste-recette{
    p{
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: large;
    }
  }  
}
