/* le header */
header{
  height: 60vh;
  #header_image-container{
    background-image: url("../../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
     .logo-header{
      padding: 2rem;
      width: 20%;
     }
    h1{
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      color: #FFD15B;
      font-size: 3rem;
    }
    .recherche{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}